@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab.ttf");
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
