@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab.ttf");
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.submit-button {
  @apply border rounded border-black p-3 duration-500 hover:bg-black hover:text-white;
}

.card {
  @apply mx-auto md:w-[500px] lg:w-[700px] border border-black text-center p-4 mt-8;
}